body {
  background-image: url(./images/bg.png);
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

header { 
  width: 800px;
  margin: auto;
}

section { 
  width: 800px;
  margin: auto;
}

nav {
  position: fixed;
  top: 0px;
  right: 150px;
  width: 250px;
  height: 25px;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
  background-color:black;
  text-align: center;
  }



a { 
  color: white;
  float: left;
  text-decoration: none;
}

a:hover {
  background: rgb(169, 173, 170);
}


.currentlink {
  background-color: rgb(169, 173, 170);
  color: red;
}


.headlineRed {

  color: rgb(175, 18, 18);
  margin: 15px;
  height: 10px;
  padding-bottom: 50px; 
  margin-top: 200px;
}

h1 { color: rgb(175, 18, 18);
}

textarea {
background-color: rgb(206, 206, 202);
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
border: 0px;
display: block;
margin: 15px;
padding: 5px 80px 5px 5px;
}


input {
background-color: rgb(206, 206, 202);
color:white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 15px;
border: 0px;
display: block;
margin: 15px;
padding: 5px 45px 5px 5px;
}

button{
background-color: rgb(206, 206, 202);
color:white;
display: block;
border: 0px;
margin: 50px 15px 15px 15px;
padding-top: 15px;
padding-bottom: 15px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}


div {
 text-align: center;
} 

.facebookicon{
  position: relative;
  bottom: 30px;
}

.facebookicon:hover {
  background-color: black
}


.datenschutztext {
color: rgb(182, 174, 174);
background-color: none;
margin: 15px;
}

#dslink{
  color: rgb(182, 174, 174);
  background-color: none;
  text-decoration-line: underline; 
  }
