body {
  background-image: url(./images/bg.png);
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

header { 
  width: 800px;
  margin: auto;
}

section { 
  width: 800px;
  margin: auto;
}

nav {
  position: fixed;
  top: 0px;
  right: 0px;
  margin-right: 220px;
  }

a { 
  color: white;
  background: white;
}

a:hover {
  background: rgb(169, 173, 170);
}

li {
  float: left;s
  }

li a {
  display: block;
  padding: 10px;
  background-color: black;
  text-decoration: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.currentlink {

  background-color: rgb(169, 173, 170);
  color: red;
}

div {

background-color: rgb(197, 192, 192);
color: white;
}

.round {
  
  width: 350px;
  height: 30px; 
  margin: 10px;
}
.message {
  
  width: 600px;
  height: 80px; 
  margin: 10px;
}

.headlineRed {

  color: rgb(175, 18, 18);
  margin: 10px;
  height: 10px;
  padding-bottom: 50px;
  margin-top: 200px;
}

.absenden  {

  width:  80px;
  height: 30px; 
  margin: 10px;
}


.datenschutz {

  color: gray;
  margin: 10px;
}